/* grid.css */

/*
 Width: 1000px
 # Columns : 12 
 Column width: 65px
 Gutter : 20px 

target / context = result
*/
.grid_1 { width: 6.5%; } /* 65px/1000px = 0.065px */
.grid_2 { width: 15%; } /* 150px/1000px =  0.15px */
.grid_3 { width: 23.5%; } /* 235px/1000px = 0.235px */
.grid_4 { width: 32%; } /* 320px/1000px = 0.32px */
.grid_5 { width: 40.5%; } /* 405px/1000px = 0.405px */
.grid_6 { width: 49%; } /* 490px/1000px = 0.49px */
.grid_7 { width: 57.5%; } /* 575px/1000px = 0.575px */
.grid_8 { width: 66%; } /* 660px/1000px = 0.66px */
.grid_9 { width: 74.5%; } /* 745px/1000px = 0.745px */
.grid_10 { width: 83%; } /* 830px/1000px = 0.83px */
.grid_11 { width: 91.5%; } /* 915px/1000px = 0.915px */
.grid_12 { width: 100%; } /* 1000px/1000px = 1 */

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12
{
	float: left;
	display: block;
}

.container{
	width: 1000px; /*width: 1000px;*/
	margin: 0 auto;
	
}


.container:before,
.container:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.container:after {
  clear: both;
}

nav ul li {
	list-style: none;
	}
	
img {
	width: 100%;
}

/*global*/

body {
	background: url("../img/bg.png");
	font-family: 'Allerta', sans-serif;
	font-weight: 100;
	font-size: 1.125em;
}

nav li {
	float: left;
	text-decoration: none;
	padding: 0;
	margin: 10px;
	
	}

nav a {
	color: #5583A7;
	text-decoration: none;
	background: #FFF;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 7px 7px 7px -4px rgba(0,0,0,0.5);
}

img { 

	max-width: 100%;
	 box-shadow: 0 0 20px #666;
}

p {
	padding: 5px;
	margin: 5px;
}

/*typography*/

h1 {
	font-size: 1.750em;
	font-weight: 100;
	letter-spacing: -1.5px;
}

h2 {
	font-weight: 100;
	font-size: 1.500em;
	color: #5583A7;
}
h3 {
	font-weight: 100;
	font-size: 1.125em;
	color: #5583A7;
}


.dropcap {
	font-size: 4.5em; /* 72px ÷ 16px = 4.5em*/
	color: #5583A7;
	float: left;
	margin: 10px;
}

footer {
	color: 	#5583A7;
}

/*Media Queries*/

/* Larger ----------- */

@media screen and (max-width: 1024px) {

.container {
	width:768px;
	background-color: darkgrey;
}
}


/* iPad ----------- */

@media screen and (max-width: 768px) {

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	width:100%;
	float: none;
	background-color: lightblue;
}
nav li {
	float: none;
	display: inline-block;
	}

.container {
	width: 100%;
}
}
/* iPhone ----------- */
@media screen and (max-width : 480px) {

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	width:100%;
	float: none;
	background-color: coral;
}
nav li {
	float: none;
	display: block;
	text-align: center;
	}

nav ul {
	padding: 0;
}

}

